.cimg{
    position: inherit;
    height: 90vh;
    object-fit: cover;
    max-width: 100%;
    
}
#autoplay{
    margin-bottom: 100px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.carousel-indicators > button{
        min-width: none!important;
}

